{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
         
            <div id="formsContainer">
            
            <form id="form" class="form" method="POST" action="{% url 'checkout' %}" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                   
                {% if shipping == True %}
                <div class="row" id="shipping-info">
                    <hr>
						<p>Shipping Information:</p>
						<hr>
						{% for field in shippingAddressForm %}
                            {% if shippingAddressForm.errors %}
                            {% for error in field.errors %}
                                {% if error != "This field is required." %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                {% endif %}
                            {% endfor %}
                            {% for error in shippingAddressForm.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                            {% endif %}
                        <div class="form-field">
                            
                            {{field}}
                        </div>
        
                        {% endfor %}
                </div>
                {% else %}
                <div class="form-field">
                    <p  style="margin: 5px;" type="text"><strong>Your cart contains only digital products.</strong></p>
                </div>
                {% endif %}

                <hr>
                
                    {% if cartItems == 0 %}
                    <input id="form-button" class="btn btn--sub" type="submit" value="Continue"   disabled>
                    {% else %}
                    <input id="form-button" class="btn btn--sub"  type="submit" value="Continue">
                    {% endif %}
                
            </form>

            </div>
        </div>

        <br>

        <div class="box-element hidden" id="payment-info">
            <small>Paypal Options</small>
            <div id="paypal-button-container"></div>
        </div>

      </div>

      <div class="col-lg-6">
        <div class="box-element">
            <a  class="btn btn-outline-dark btn--sub" href="{% url 'cart:cart-summary' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            
                {% for item in items %}
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{item.product.imageUrl}}"></div>
                    <div style="flex:2"><p>{{item.product.name}}</p></div>
                    <div style="flex:1"><p>{{item.product.price}}</p></div>
                    <div style="flex:1"><p>x <p class="itemQty">{{item.quantity}}</p> </p></div>
                </div>
                {% endfor %}
            
                <h5 id="totalPrice">Items: {{order.get_cart_items}}</h5>
                <h5>Total: {{order.get_cart_total|floatformat:2}}</h5>
            
        </div>
      </div>
</div>

<script src="https://www.paypal.com/sdk/js?client-id=AfXDNTBc-g6d_4ZI0q8N3vShp2RQXtX6slCx0pONRY5nVVusytlTq4vqhA0yuYyzEYhvbjPDvinStSU4&currency=USD"
        data-sdk-integration-source="button-factory">
</script>


{% endblock content %}